<%layout("/layouts/boilerplate")%>
    <link rel="stylesheet" href="/css/Inews.css">

    <section class="news-outer">

        <div class="main-news">
            <div class="news-content">

                <div class="brand-name">
                    <span>
                        <%=news[0].brand%>
                    </span>

                </div>
                <div class="image-div">
                    <img src="<%=news[0].image%>" alt="">
                    <div class="icons">
                        <button class="buttons upvote" data-news=<%=news[0]._id%> data-upvoted=<%if(currentUser){%>
                                <%= (news[0].upVotes.includes(currentUser.id)) %>
                                    <% }else{ %>
                                        <%=false%>

                                            <% } %>

                                                >

                                                <i class="fas fa-bolt"></i><span></i>
                                                    <%=news[0].upVotes.length%>
                                                </span></button>
                        <button class="buttons downvote" data-news="<%=news[0]._id%>"
                            data-downvoted=<%if(currentUser){%>
                            <%= (news[0].downVotes.includes(currentUser.id)) %>
                                <% }else{ %>
                                    <%=false%>

                                        <% } %>><i class="far fa-angry"></i><span>
                                                <%=news[0].downVotes.length%>
                                            </span>
                        </button>
                        <a href="#comments" class="buttons comment"><i class="far fa-comment"></i>
                            <%=news[0].comments.length%>
                        </a>

                    </div>

                </div>
                <h2>
                    <%=news[0].heading%>
                </h2>

                <div class="content">
                    <p>
                        <%=news[0].mainNews%>
                    </p>



                </div>









            </div>

            <div id="comments">
                <h3>Comments</h3>

                <div class="allcomments">
                    <% for(comment of news[0].comments) {%>
    
                        <div class="card c-card">
    
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i class="far fa-user" style="margin-right: 5px;color: tomato;"></i><%=comment.author.username%>
                                </h5>
                                <p class="card-text">
                                    <%=comment.text%>
                                </p>
    
                            </div>
                        </div>
    
                        <% }%>
                </div>
                
                <form action="/news/<%=news[0].id%>/comment" method="POST" style="border-radius: 0;">
                    <h5 style="width: 100%;">Add a Comment</h5>
                    <textarea name="comment" id="comment" cols="30" rows="10"
                        style="border-radius: 0 !important;"></textarea>
                    <button class="btn btn-primary">add</button>
    
                </form>
    
    
    
    
            </div>

        </div>



       


        <div class="related-news">
            <h3>Related News</h3>
            <% for(inews of result){ %>
                <div class="card c-news-card">
                    <img src="<%=inews.image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=inews.heading%>
                        </h5>
                        <a href="/news/<%=inews._id%>" class="btn btn-light">Read more</a>
                    </div>
                </div>
                <% } %>

        </div>













    </section>
    <script src="/javascript/Inews.js"></script>